.container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;

  .addBtn {
    background-color: var(--purple-01);
    padding: 13px 30px;
    border-radius: 40px;

    color: var(--white) !important;
    font-size: 16px;
  }

  .profileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--white);
    padding: 24px;
    border: 1px solid var(--grey-06);
    border-radius: 20px;

    .profileInfo {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .profileImgInfo {
        display: flex;
        align-items: center;
        gap: 24px;

        .hi {
          display: flex;
          align-items: center;

          font-size: 28px;

          span {
            margin: 0 10px;

            font-weight: bold;
          }
        }
      }

      .infoWrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;

        margin-left: 84px;

        color: var(--grey-03);
        font-size: 16px;

        .number {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }

  .editBtn {
    background-color: var(--purple-01);
    padding: 13px 30px;
    border-radius: 40px;

    color: var(--white) !important;
    font-size: 16px;
  }

  .userStatusContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .userStatusWrapper {
      background-color: var(--white);
      padding: 24px;
      border-radius: 20px;

      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .rows {
        margin-top: 10px;

        .row {
          padding: 10px 0;
          border-bottom: 1px solid var(--grey-06);

          &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
          }

          .rowTitle {
            display: block;

            max-width: 450px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
