.container {
  .title {
    margin-bottom: 14px;

    font-size: 24px;
    font-weight: bold;
  }

  .introCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    width: 100%;
    margin-top: 10px;
    padding: 24px;
    border-radius: 20px;

    .cardTitle {
      color: var(--purple-01);
      font-weight: bold;
      font-size: 25px;
    }

    .cardContent {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      margin-top: 30px;

      font-size: 20px;
      font-weight: 500;
    }

    .row {
      display: flex;
      flex-direction: column;

      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .programTitleWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .programTitle {
          max-width: 800px;

          font-size: 20px;
          font-weight: bold;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        span {
          color: var(--grey-04);
        }
      }

      .line {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 0;
        margin-left: 20px;
        border-bottom: 1px solid var(--grey-05);

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }

        .leftSide {
          display: flex;
          align-items: center;
          gap: 10px;

          .prize {
            color: var(--purple-01);
          }
        }

        .confirmBtn {
          color: var(--grey-01);
          padding: 2px 4px;
          border: 1px solid var(--grey-05);
          border-radius: 4px;
        }
      }
    }
  }
}
