.container {
  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    width: 100%;
    margin-top: 24px;
    padding: 24px;
    border-radius: 20px;

    .row {
      display: flex;
      flex-direction: column;

      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .programTitle {
        font-weight: bold;
      }

      .line {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 0;
        margin-left: 20px;
        border-bottom: 1px solid var(--grey-05);

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }

        .leftSide {
          display: flex;
          align-items: center;
          gap: 10px;

          .prize {
            color: var(--purple-01);
          }
        }

        .confirmBtn {
          color: var(--grey-01);
          padding: 2px 4px;
          border: 1px solid var(--grey-05);
          border-radius: 4px;
        }
      }
    }
  }
}
