.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .chartWrapper {
    display: grid;
    grid-template-columns: 700px 350px;
    align-items: center;
    gap: 15px;
  }

  .cardWrapper {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    &.validatorList {
      margin-top: 15px;

      .validator {
        padding: 10px 0;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .title {
      font-size: 20px;
    }
  }
}
