.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  .carouselButtons {
    button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  .tableList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    margin-top: 40px;

    .table {
      background-color: var(--white);
      border-radius: 20px;
      padding: 20px 40px;

      .tableHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 20px;

        color: var(--black);
        font-size: 18px;
        font-weight: 500;

        .link {
          display: flex;
          align-items: center;
          gap: 8px;

          color: var(--grey-04);
          font-size: 16px;
          font-weight: normal;
        }
      }

      .tableBody {
        padding: 20px 0;
        border-bottom: 1px solid var(--grey-02);

        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }

        .endTime {
          width: fit-content;
          padding: 3px 8px;
          border: 1px solid var(--purple-01);
          border-radius: 4px;

          font-size: 14px;
          color: var(--purple-01);
        }

        .title {
          margin-top: 8px;
          max-width: 400px;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
