.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;

  width: 100%;

  .card {
    background-color: var(--white);
    padding: 24px 40px;
    border-radius: 20px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 18px;
      font-weight: bold;

      span {
        color: var(--grey-04);
        font-weight: normal;
        font-size: 12px;
      }
    }

    .content {
      height: calc(100dvh - 251px);
      overflow: auto;
    }
  }

  .commentsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    .comments {
      height: 100%;

      .title {
        margin-bottom: 4px;

        font-size: 18px;
        font-weight: bold;
      }

      .commentWrapper {
        padding: 20px 0;
        border-bottom: 1px solid var(--grey-05);

        &:last-child {
          border-bottom: 0;
        }

        .header {
          display: flex;
          align-items: center;

          color: var(--black);
          font-size: 16px;

          .userImg {
            margin-right: 10px;
          }

          span {
            margin-left: 8px;

            color: var(--grey-03);
            font-size: 12px;
          }
        }

        .commentContent {
          margin-top: 10px;

          color: var(--grey-02);
          font-size: 16px;
        }
      }
    }
  }
}
