.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .table {
      display: flex;
      flex-direction: column;
      gap: 10px;

      background-color: var(--white);
      border-radius: 20px;
      padding: 20px 40px;

      &:first-child {
        margin-top: 24px;
      }

      .tableTitle {
        margin-bottom: 10px;

        font-size: 20px;
        font-weight: bold;
      }

      .rowsTable {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--grey-05);

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }

        .inputWrapper {
          display: flex;
          flex-direction: column;

          margin-top: 10px;

          color: var(--grey-03);
          font-size: 16px;
          font-weight: 500;

          &:first-child {
            margin-top: 0;
          }

          fieldset {
            border-color: var(--grey-05);
            border-width: 1px;

            &:hover {
              border-color: var(--grey-05);
            }
          }

          input {
            color: var(--grey-04);
          }

          .input {
            width: 100%;
            padding: 11px 16px;
            border: 1px solid var(--grey-05);
            border-radius: 4px;
            margin-top: 4px;

            color: var(--grey-04);

            &textarea {
              resize: none;
              height: 180px;
            }
          }
        }
      }

      .addBtn {
        width: 100%;
        background-color: var(--purple-01);
        padding: 16px 0;
        border-radius: 40px;
        margin-top: 24px;

        color: var(--white);
        font-size: 16px;
      }
    }
  }
}
