.container {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 24px;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      background-color: var(--white);
      border-radius: 20px;
      padding: 20px 40px;

      &:last-child {
        margin-bottom: 0;
      }

      .rowTitle {
        display: flex;
        align-items: center;
        gap: 2px;

        font-size: 18px;
        font-weight: 500;

        span {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 24px;
          height: 24px;
          background-color: var(--purple-03);
          border-radius: 6px;
          margin-right: 6px;

          color: var(--purple-01);
          font-weight: bold;
        }
      }

      .rightSide {
        display: flex;
        align-items: center;
        gap: 40px;

        color: var(--grey-04);
        font-size: 12px;
      }
    }
  }
}
