.container {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .table {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px 40px;
    margin-top: 24px;
  }
}
