.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .table {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px 40px;
    margin-top: 24px;

    .tableHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 20px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--grey-01);

      color: var(--black);
      font-size: 18px;
      font-weight: 500;
    }

    .tableBody {
    }
  }
}
