.container {
  display: flex;

  height: 100dvh;
  max-width: 1440px;
  margin: 0 auto;

  overflow: hidden;
}

.wrapper {
  background-color: var(--gray-07);
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;

  overflow: scroll;

  .header {
    position: sticky;
    top: 0;

    width: 100%;
    background-color: var(--white);
    padding: 22px 40px;
    border-bottom: 1px solid var(--gray-06);

    color: var(--purple-01);
    font-size: 18px;
    font-weight: 500;
  }

  .content {
    padding: 40px;
  }
}
