.container {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #111;
  min-height: 100vh;

  color: #fff;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1440px;
  min-height: calc(100vh - 6rem);
  margin: 10rem auto 0;
  padding: 0 2rem;
}
