.container {
  display: flex;

  max-width: 1440px;
  height: 100dvh;
  margin: 0 auto;

  overflow: hidden;
}

.wrapper {
  background-color: var(--gray-07);
  width: 100%;
}

.body {
  display: flex;
  flex: 1 1 0%;

  height: 2000px;

  overflow: hidden;
}
